@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import "../styles/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 배경색 */
body {
  transition: background-color 0.3s ease;
  background-color: #fafafa;
}
/* 다크 모드시 배경색 */
.dark body {
  background-color: #171717;
}

.category::-webkit-scrollbar {
  display: none;
}

p code {
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  background-color: #e5e5e5;
}

.dark p code {
  background-color: #363636;
}

/* 코드 테마 */
.prose pre > code {
  display: grid;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
.prose pre::-webkit-scrollbar {
  display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
.prose pre {
  scrollbar-width: none;
  padding: 16px 16px;
}

/* Fenced Code block - line number style */
.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  text-align: right;
  color: #7f848e;
}

.prose code[data-line-numbers-max-digits="2"] > span[data-line]::before {
  width: 1.25rem;
}
.prose code[data-line-numbers-max-digits="3"] > span[data-line]::before {
  width: 1.75rem;
}

/* 코드 블럭 테마 */
.light {
  code[data-theme*=" "],
  code[data-theme*=" "] span,
  pre {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
.light pre {
  @apply shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)];
}
.dark {
  code[data-theme*=" "],
  code[data-theme*=" "] span,
  pre {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

/* 이미지 캡션 */
figcaption {
  @apply mt-2 mx-auto text-sm text-center text-gray-500 dark:text-gray-400;
}

/* 테이블 */
table {
  @apply w-full rounded-md;
  border-collapse: collapse;
}
.light table {
  @apply shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)];
}
.dark table {
  @apply shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)];
}
thead,
tbody {
  @apply text-xs uppercase bg-[#ffffff] dark:bg-[#262626];
}
thead tr th,
tbody tr td {
  @apply py-4 font-medium text-center align-middle border-b border-r border-solid border-[#e4e7eb] dark:border-[#686868];
}
thead tr th:last-child,
tbody tr td:last-child {
  border-right: none;
}
tbody tr:last-child td {
  border-bottom: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
thead tr th:first-child {
  border-top-left-radius: 6px;
}
thead tr th:last-child {
  border-top-right-radius: 6px;
}
